In [22]:
import requests
import pandas as pd 

with requests.get("https://raw.githubusercontent.com/pesikj/progr2-python/master/data/air_polution_ukol.csv") as r:
  open("air_polution_ukol.csv", 'w', encoding="utf-8").write(r.text)

In [23]:
data = pd.read_csv("air_polution_ukol.csv")
data["date"] = pd.to_datetime(data["date"])
data["year"] = data["date"].dt.year
data["month"] = data["date"].dt.month
data

           date  pm25  year  month
0    2021-09-01  34.0  2021      9
1    2021-09-02  38.0  2021      9
2    2021-09-03  44.0  2021      9
3    2021-09-04  52.0  2021      9
4    2021-09-05  59.0  2021      9
...         ...   ...   ...    ...
2679 2015-03-30   NaN  2015      3
2680 2015-03-31   NaN  2015      3
2681 2014-06-24   NaN  2014      6
2682 2014-06-25   NaN  2014      6
2683 2014-06-26   NaN  2014      6

[2684 rows x 4 columns]

In [24]:
years= [2019, 2020]

leden = data[(data['month'] == 1) & data['year'].isin(years)]
leden

          date   pm25  year  month
445 2020-01-01  131.0  2020      1
446 2020-01-02  142.0  2020      1
447 2020-01-03   68.0  2020      1
448 2020-01-04   21.0  2020      1
449 2020-01-05   31.0  2020      1
..         ...    ...   ...    ...
800 2019-01-27   32.0  2019      1
801 2019-01-28   17.0  2019      1
802 2019-01-29   26.0  2019      1
803 2019-01-30   67.0  2019      1
804 2019-01-31   66.0  2019      1

[62 rows x 4 columns]

H0 - počty částic se rovnají
H1 - počty částic jsou různé

In [29]:
from scipy.stats import mannwhitneyu

x = leden[leden["year"] == 2019]["pm25"]
y = leden[leden["year"] == 2020]["pm25"]
print(x.shape)
print(y.shape)
mannwhitneyu(x, y)

(31,)
(31,)

MannwhitneyuResult(statistic=301.0, pvalue=0.011721695410358317)

P-hodnota je menší než naše hladina významnosti 0,05, proto můžeme zamítnout hypotézu, že počet částic byl ve srovnávaných letech stejný.